/* || General styles */
.App {
  margin: 0;
}

/* || Header and Main Navigation */
.header {
  display: flex;
  flex-direction: column;
  min-height: 15%;
}

.header .title {
  background-color: red;

  height: 25%;
}

.header .content {
  background-color: blue;
}
